{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Boards</li>
{% endblock %}

{% block content %}
  <a href="{% url 'about' %}" class="btn btn-info mb-3">Sobre o Projeto</a>

  <div class="table-responsive">
    <table class="table border">
      <thead class="table-dark">
        <tr>
          <th>Board</th>
          <th>Posts</th>
          <th>Topics</th>
          <th>Last Post</th>
        </tr>
      </thead>
      <tbody>
        {% for board in boards %}
          <tr>
            <td class="align-middle">
              <a href="{% url 'board_topics' board.pk %}" class="text-decoration-none fw-bold">{{ board.name }}</a>
              <small class="text-muted d-block">{{ board.description }}</small>
            </td>
            <td class="align-middle">0</td>
            <td class="align-middle">0</td>
            <td class="align-middle"></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4" class="text-center text-muted">
              Nenhum quadro cadastrado ainda.
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}