{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Professores</li>
{% endblock %}

{% block content %}
  <table class="table table-striped border">
    <thead class="table-dark">
      <tr>
        <th>Professor / Instituto</th>
        <th>Comentários</th>
        <th>Avaliações</th>
        <th>Última Atividade</th>
      </tr>
    </thead>
    <tbody>
      {% for professor in professors %}
        <tr>
          <td>
            <a href="{% url 'professor_avaliacoes' professor.pk %}">{{ professor.nome }}</a>
            <small class="text-muted d-block">{{ professor.descricao }}</small>
          </td>
          <td class="align-middle">
            {{ professor.get_comentarios_count }}
          </td>
          <td class="align-middle">
            {{ professor.get_avaliacoes_count }}
          </td>
          <td class="align-middle">
            {% with comentario=professor.get_last_comentario %}
              {% if comentario %}
                <small>
                  <a href="{% url 'avaliacao_comentarios' professor.pk comentario.avaliacao.pk %}">
                    Por {{ comentario.created_by.username }} em {{ comentario.created_at|date:"d/m/Y H:i" }}
                  </a>
                </small>
              {% else %}
                <small class="text-muted">
                  <em>Sem avaliações ainda.</em>
                </small>
              {% endif %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}