{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}Log in{% endblock %}

{% block content %}
  <div class="card shadow">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Log in</h3>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'includes/form.html' %}
        
        <div class="d-grid gap-2 mt-3">
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted text-center">
      New to Django Boards? <a href="{% url 'signup' %}">Sign up</a>
    </div>
  </div>
  <div class="text-center py-2">
    <small>
      <a href="{% url 'password_reset' %}" class="text-muted">Esqueci minha senha</a>
    </small>
  </div>
{% endblock %}