{% extends 'base.html' %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">Novo Tópico</a>
  </div>

  <div class="table-responsive">
    <table class="table table-striped border">
      <thead class="table-dark">
        <tr>
          <th>Tópico</th>
          <th>Autor</th>
          <th>Respostas</th>
          <th>Visualizações</th>
          <th>Última Atualização</th>
        </tr>
      </thead>
      <tbody>
        {% for topic in board.topics.all %}
          <tr>
            <td><a href="#">{{ topic.subject }}</a></td>
            <td>{{ topic.starter.username }}</td>
            <td>0</td>
            <td>0</td>
            <td>{{ topic.last_updated }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5" class="text-center text-muted">
              Ainda não há tópicos neste quadro. Seja o primeiro a postar!
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}